.queuejoinerUI {
    background-color: #151519;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
    
    height: 31.5vh;
    width: 20vw;

    min-width: 300px;
    position: absolute;
    right: 2vw;
    top: 2vw; 
    border-radius: 24px;
    padding: 1.5vh 1vw; 
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.27s ease;
}

.queuejoinerUI:hover {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 1);
}

.queuejoinerUI {
    z-index: 99999;
}

.queuejoinerUI_timer {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 18px;
    color: #FFFFFF;
    position: fixed;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
}

.queuejoinerUI_line1 {
    bottom: 8.7vh;           
    left: 0px;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.08);
    position: fixed;
}

.queuejoinerUI_line2 {
    top: 4vh;           
    left: 0px;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.08);
    position: fixed;
}

.queuejoinerUI_text {
    height: 12vh;             
    overflow-y: auto;        
    overflow-x: hidden;
    margin-top: 2.5vh;   
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}

.queuejoinerUI_startBtn,
.queuejoinerUI_keepTryingBtn_true,
.queuejoinerUI_keepTryingBtn_false,
.queuejoinerUI_resetBtn {
    flex-shrink: 0;
    width: clamp(120px, 9vw, 180px);
    height: clamp(44px, 7.5vh, 60px);
    border: none;
    border-radius: 20px;
    font-weight: 800;
    font-size: 125%;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    transition: all 0.27s;
}

.queuejoinerUI_startBtn {
    background: linear-gradient(to bottom right, #5865f2, #8276C2);
    position: absolute;
    left: 0.75vw;
    bottom: 8vh;
    
}

.queuejoinerUI_resetBtn {
    background: linear-gradient(to bottom right, #E71D36, #CE3459);
    position: absolute;
    right: 0.75vw;
    bottom: 8vh;
    
}

.queuejoinerUI_keepTryingBtn_false {
    background: linear-gradient(to bottom right, #80ED99, #38A3A5);
    position: absolute;
    right: 2.5%;
    bottom: 0.75vh;
    width: 95%;
}

.queuejoinerUI_keepTryingBtn_true {
    background: linear-gradient(to bottom right, #ECAF67, #DF8214);
    position: absolute;
    right: 2.5%;
    bottom: 0.75vh;
    width: 95%;
}

.queuejoinerUI_resetBtn:hover {
    filter: brightness(0.9);
    transform: scale(1.015);
}

.queuejoinerUI_resetBtn:active {
    filter: brightness(1.025);
    transform: scale(1.025);
}

.queuejoinerUI_startBtn:hover {
    filter: brightness(0.87);
    transform: scale(1.015);
}

.queuejoinerUI_startBtn:active {
    filter: brightness(1.025);
    transform: scale(1.025);
}

.queuejoinerUI_keepTryingBtn_false:hover {
    filter: brightness(0.87);
    transform: scale(1.015);
}

.queuejoinerUI_keepTryingBtn_false:active {
    filter: brightness(1.025);
    transform: scale(1.025);
}

.queuejoinerUI_keepTryingBtn_true:hover {
    filter: brightness(0.87);
    transform: scale(1.015);
}

.queuejoinerUI_keepTryingBtn_true:active {
    filter: brightness(1.025);
    transform: scale(1.025);
}